nodered-r2.flow
[{"id":"fb27d39c.c33c18","type":"inject","z":"c11b2a4d.3bece","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":false,"x":270,"y":160,"wires":[["88348308.3ec91"]]},{"id":"88348308.3ec91","type":"function","z":"c11b2a4d.3bece","name":"","func":"var h = context.global.get('h')||0.008;\nvar a = context.global.get('a')||10;\nvar b = context.global.get('b')||28;\nvar c = context.global.get('c')||8/3;\nvar x = context.global.get('x')||2;\nvar y = context.global.get('y')||3;\nvar z = context.global.get('z')||4;\n\n\nx+=h*a*(y-x)\ny+=h*(x*(b-z)-y)\nz+=h*(x*y-c*z)\n\n\ncontext.global.set(\"x\",x);\ncontext.global.set(\"y\",y);\ncontext.global.set(\"z\",z);\nmsg.payload={};\nmsg.payload.x=x;\nmsg.payload.y=y;\nmsg.payload.z=z;\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":166.5,"wires":[["bbac2cfc.a11f68","b9e6b8d4.d00f3","82a928d5.d82de8","60104b07.c18834","80eb2485.4d9f78"]]},{"id":"bbac2cfc.a11f68","type":"debug","z":"c11b2a4d.3bece","name":"","active":false,"console":"false","complete":"false","x":636,"y":155.25,"wires":[]},{"id":"b9e6b8d4.d00f3","type":"function","z":"c11b2a4d.3bece","name":"","func":"msg.payload=msg.payload.x;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":294.5,"wires":[[]]},{"id":"82a928d5.d82de8","type":"function","z":"c11b2a4d.3bece","name":"","func":"msg.payload=msg.payload.y;\nreturn msg;","outputs":1,"noerr":0,"x":459,"y":395.5,"wires":[[]]},{"id":"60104b07.c18834","type":"function","z":"c11b2a4d.3bece","name":"","func":"msg.payload=msg.payload.z;\nreturn msg;","outputs":1,"noerr":0,"x":367,"y":518.5,"wires":[[]]},{"id":"37597b3c.647ad4","type":"ibmiot out","z":"c11b2a4d.3bece","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"osc","format":"json","data":"payload","qos":0,"name":"IBM IoT","service":"registered","x":860,"y":287.25,"wires":[]},{"id":"63c6038a.ff3dac","type":"ibmiot in","z":"c11b2a4d.3bece","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"lorenz","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":812,"y":369,"wires":[["ccb9f1f8.413d6"]]},{"id":"ccb9f1f8.413d6","type":"debug","z":"c11b2a4d.3bece","name":"","active":true,"console":"false","complete":"false","x":945,"y":407.25,"wires":[]},{"id":"2ed2d87d.a8cff8","type":"inject","z":"c11b2a4d.3bece","name":"healthy","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":210,"y":234,"wires":[["71a372c3.d744e4"]]},{"id":"5d82050e.ae0c34","type":"inject","z":"c11b2a4d.3bece","name":"broken","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":212,"y":291,"wires":[["8f27fdde.30e918"]]},{"id":"71a372c3.d744e4","type":"function","z":"c11b2a4d.3bece","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',10);\ncontext.global.set('b',28);\ncontext.global.set('c',8/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":231.5,"wires":[["3f516158.e9a94e"]]},{"id":"8f27fdde.30e918","type":"function","z":"c11b2a4d.3bece","name":"","func":"context.global.set('h',0.008);\ncontext.global.set('a',30);\ncontext.global.set('b',128);\ncontext.global.set('c',28/3);\n\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":345.5,"wires":[["3f516158.e9a94e"]]},{"id":"80eb2485.4d9f78","type":"function","z":"c11b2a4d.3bece","name":"limit to max 3000 ","func":"var count = context.global.get('count') || 0;\ncount += 1;\ncontext.global.set('count',count);\nif (count <= 300000) {\n   return msg; \n}\n\n//return msg; ","outputs":1,"noerr":0,"x":701,"y":226,"wires":[["37597b3c.647ad4"]]},{"id":"2875a08.71d48e","type":"function","z":"c11b2a4d.3bece","name":"","func":"context.global.set('count',0);\nmsg.payload=context.global.get('count');\ncontext.global.set(\"x\",2);\ncontext.global.set(\"y\",3);\ncontext.global.set(\"z\",4);\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":622,"wires":[["3f516158.e9a94e"]]},{"id":"35d166a7.064252","type":"inject","z":"c11b2a4d.3bece","name":"reset","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":198,"y":504.5,"wires":[["2875a08.71d48e"]]},{"id":"3f516158.e9a94e","type":"debug","z":"c11b2a4d.3bece","name":"","active":true,"console":"false","complete":"false","x":448.5,"y":613.5,"wires":[]},{"id":"37d1ee2b.5c9e22","type":"ibmiot in","z":"c11b2a4d.3bece","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"alert","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":783,"y":494.25,"wires":[["dc809098.f777e8"]]},{"id":"dc809098.f777e8","type":"debug","z":"c11b2a4d.3bece","name":"","active":true,"console":"false","complete":"false","x":916,"y":532.5,"wires":[]},{"id":"ce302d09.ae5","type":"inject","z":"c11b2a4d.3bece","name":"simulate healthy","topic":"","payload":"{\"message\":\"simulatehealthy\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":280,"y":40,"wires":[["7bf5ff5e.f72fb8","71a372c3.d744e4"]]},{"id":"7bf5ff5e.f72fb8","type":"ibmiot out","z":"c11b2a4d.3bece","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"switch","format":"json","data":"d","qos":0,"name":"IBM IoT","service":"registered","x":485,"y":39.25,"wires":[]},{"id":"232591d5.9f920e","type":"inject","z":"c11b2a4d.3bece","name":"simulate broken","topic":"","payload":"{\"message\":\"simulatebroken\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":280,"y":80,"wires":[["1a1487f8.eae6c","8f27fdde.30e918"]]},{"id":"1a1487f8.eae6c","type":"ibmiot out","z":"c11b2a4d.3bece","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"switch","format":"json","data":"d","qos":0,"name":"IBM IoT","service":"registered","x":485,"y":79.25,"wires":[]},{"id":"babb93ec.996868","type":"inject","z":"c11b2a4d.3bece","name":"disable simulator","topic":"","payload":"{\"message\":\"disablesimulator\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":280,"y":120,"wires":[["96a45ad1.ce3fe"]]},{"id":"96a45ad1.ce3fe","type":"ibmiot out","z":"c11b2a4d.3bece","authentication":"boundService","apiKey":"","outputType":"evt","deviceId":"lorenz","deviceType":"0.16.2","eventCommandType":"switch","format":"json","data":"d","qos":0,"name":"IBM IoT","service":"registered","x":485,"y":119.25,"wires":[]},{"id":"f055a8c9.9c49f","type":"ibmiot in","z":"c11b2a4d.3bece","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"+","eventType":"to_healthy","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":190,"y":200,"wires":[["71a372c3.d744e4"]]},{"id":"2be0b01f.267de8","type":"function","z":"c11b2a4d.3bece","name":"","func":"context.global.set('count',400000);\nmsg.payload=context.global.get('count');\ncontext.global.set(\"x\",2);\ncontext.global.set(\"y\",3);\ncontext.global.set(\"z\",4);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":680,"wires":[[]]},{"id":"e9b65619.c2912","type":"inject","z":"c11b2a4d.3bece","name":"Stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":170,"y":680,"wires":[["2be0b01f.267de8"]]}]
